.app {
    display: flex;
    padding: 0 150px;
    min-height: 100vh;
    margin: auto;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
}

.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.expense_box {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 135px;
    padding: 5px 10px;
    margin-top: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.expense_box span {
    font-weight: bold;
    color: green;
}

.btn {
    outline: none;
    border: none;
    background-color: #EDE9FE;
    padding: 5px 10px;
    color: #6D28D9;
    border-radius: 5px;
    cursor: pointer;
}

.primery {
    color: #fff;
    background-color: #6D28D9;
    cursor: pointer;
    padding: 8px 12px;

}

.cancel {
    color: #fff;
    background-color: #EF4444;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    justify-content: space-between;
    margin-bottom: 20px;

}

input {
    border: 1px solid #ccc;
    padding: 8px 12px;
    outline: none;
    border-radius: 5px;
}
.input{
    display: flex;
    width: 93.5%;
    margin: 20px 0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    outline: none;
    border-radius: 5px;
}
input[type="radio"] {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.radio {
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: flex-start;

}

.transaction {
    border-radius: 5px;
    background: #faf4f5;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: 4px solid green;
}
